



h6{
    color:white;
}
.bar1{
    width: 50%;
    height: 4px;
    border-top: 1px solid burlywood;

}

/* HOME SECTION */
#hidri-icon{    
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#home {
    background: url(../image/skin2.jpg)no-repeat
    center center/cover;
    height: 100vh;
}
.home-heading{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    color: white;
    font-family: 'Anton', sans-serif;
}
.home-heading1{
    position: absolute;
    left: 50%;
    top:60%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: white;
    font-family: 'Anton', sans-serif;
}
.home-heading2{
    position: absolute;
    left: 50%;
    top:70%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    width: fit-content;
    color: white;
    font-family: 'Anton', sans-serif;
}
#button-id{
    position: absolute;
    left: 50%;
    top:80%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    width: fit-content;
}
#button-id:hover{
    color:red;
}
  /* SERVICES SECTION*/
#service{
    height: 100vh;
    height: 100%;
    background: whitesmoke;
}
.service-heading{
    text-align: center;
    padding:30px;
}
.row{
    padding: 10px;
}
.service-head{
    text-align: center;
    font-size: 18px;

}
#service-image{
    width: 100px;
    border-radius: 50%;
}
#service-image:hover{
    transform: scale(0.7);
}
